body{
    background-color: slategrey;
}
h1{
    color: red;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.card{
    margin-top: 50px;
}
.card-body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 1;
    
}
#bioImage{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}